*{
    margin: 0;
    padding: 0;
}



.main{
    /* backgraound */
    width: 100%;
    background-image: url(light-img1.jpeg);
    background-position: center;
    background-size: cover;
    height: 80vh;

}

.navbar{
    /* upper part */
    width: 1200px;
    height: 75px;
    margin: auto;
    
}

.icon{
    /* icon for logo */
    width: 200px;
    float: left;
    height: 70px;

}

.logo{
    /* logo */
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}



.menu{ 
    /* tabs */
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    padding: 5px 15px;
    transition: 0.4s ease-in-out;
    border: 2px solid red;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    /* division for search area */
    width: 330px;
    float: left;
    margin-left: 270px;


}

.srch{
    /* search box type to txt area */
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid red;
    margin-top: 13px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn{
    /* search button */
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color:white;
    font-size: 15px;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.btn:focus{
    outline: none;
}

.srch:focus{
    /* txt box border */
    outline: none;
}
.logo img{
    /* logo */
    float: left;
    width: 130px;
    height: auto;
}
.content{
    /* img, para, h1 division class  */
    width: 1200px;
    height: auto;
    margin: auto;
    color: #ff7200;
    position : relative;
    float: right;
}
.content .par{
    /* paragraph div */
    font-size: 22px;
    font-weight: bolder;
    padding-left: 30px;
    padding-bottom: 30px;
    font-family: Arial;
    letter-spacing: 1.5px;
    line-height: 35px;
}
.content h1{
    /* h1 division */
    font-family: 'Times New Roman';
    font-size: 65px;
    color: #ff0303;
    padding-left: 30px;
    margin-top: 5%;
    letter-spacing: 3px;
}
.image-section{
    float: right;
    width: 40.5%;
}
.image-section img{
    width: 90%;
    height: auto;

}
.image-section2{
    float: left;
    width: 20%;
    padding-left: 30px;
}
.image-section2 img{
    width: 90%;
    height: auto;

}
.main2{
    /* backgraound */
    width: 100%;
    background-image: url(light-img1.jpeg);
    background-position: center;
    background-size: cover;
    height: 65vh;

}
.content4 {
    /* paragraph div */
   
    font-size: 15px;
    font-weight: bolder;
    padding-left: 30px;
    padding-bottom: 30px;
    font-family: Arial;
   
}
.content3{
    /* h1 division */
    font-family: 'Times New Roman';
    font-size: 20px;
    color: #ff0303;
    padding-left: 30px;
    
}
.main3{
    /* backgraound */
    width: 100%;
    background-image: url(light-img1.jpeg);
    background-position: center;
    background-size: cover;
    height: 70vh;

}
.content4 {
    /* paragraph div */
   
    font-size: 15px;
    font-weight: bolder;
    padding-left: 30px;
    padding-bottom: 30px;
    font-family: Arial;
   
}
.content3{
    /* h1 division */
    font-family: 'Times New Roman';
    font-size: 20px;
    color: #ff0303;
    padding-left: 30px;
    
}
.image-section3{
    float: right;
    width: 40%;
    padding-right: 50px;
}
.image-section3 img{
    width: 100%;
    height: auto;

}
.content5 {
    /* paragraph div */
   
    font-size: 15px;
    font-weight: bolder;
    padding-left: 70px;
    padding-bottom: 30px;
    font-family: Arial;
   
}
.main4{
    /* backgraound */
    width: 100%;
    background-image: url(light-img1.jpeg);
    background-position: center;
    background-size: cover;
    height: 120vh;

}
.image-section4{
    float: left;
    width: 25%;
    padding-right: 30px;
}
.image-section4 img{
    width: 100%;
    height: auto;

}
.main5{
    /* backgraound */
    width: 100%;
    background-image: url(light-img1.jpeg);
    background-position: center;
    background-size: cover;
    height: 50vh;

}
.image-section4{
    float: left;
    width: 27.8%;
    padding-left: 450px;
}
.image-section4 img{
    width: 100%;
    height: auto;

}
.button{
    display: flex;
    justify-content: flex-end;
    background-image: url(light-img1.jpeg);
    background-position: center;
    background-size: cover;
    height: 20vh;
    align-items: flex-end;

}
.button h4{
    background-color: wheat;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 50px;
    
}